<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <!-- stylesheets -->
  <%= stylesheet_link_tag    "frontend", :media => "all" %>

  <!-- favicons -->
  <%= render 'frontend/favicons' %>

  <!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Basic' rel='stylesheet' type='text/css'>

  <!-- javascripts -->
  <%= javascript_include_tag "frontend" %>

  <!-- google stuff -->
  <%= render 'frontend/google_analytics' %>

  <!-- ecm cms core -->
  <% if content_for?(:meta_description) %>
    <meta name="description" content="<%= yield(:meta_description) %>" />
  <% end %>
  <% if content_for?(:title) %>
    <title><%= yield(:title) %></title>
  <% end %>

  <!-- rails -->
  <%= csrf_meta_tag %>

  <!-- twitter bootstrap -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-fixed-top" id="navigation">
    <%= render 'frontend/main_navigation' %>
  </div>

  <div class="container">
    <div class="row">
      <div class="span12" id="page_header">
        <%= render 'frontend/page_header' %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <div class="row">
        <div class="span12" id="flash_messages">
          <%= bootstrap_flash %>
        </div>
      </div>

      <div class="row">
        <div class="span9" id="main_content">
          <%= yield %>
        </div>

        <div class="span3" id="sidebar">
          <%= render 'frontend/sidebar'%>
        </div>
      </div>

    </div><!--/content-->
  </div> <!-- /container -->

  <div class="container">
    <footer class="footer">
      <%= render 'frontend/page_footer' %>
    </footer>
  </div>

</body>
</html>

